<div class="col-sm-12 btn-primary header">
    <div class="row">
    <div class="col-md-3">
        <div class="logo">
            <a routerLink="product">
        <img src="assets/images/logo.png">
    </a>
        </div>
    </div>
    <div class="col-md-6">
<input type="text" placeholder="Search Products">
    </div>
    <div class="col-md-3 text-right carticon">
        <a routerLink="../cart" (click)="cartpagerefresh()"><i class="fa fa-shopping-cart"  aria-hidden="true"></i></a>
<span>{{cartvalue}}</span>
    </div>
</div>
</div>
