@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
}
.header{
    padding: 10px 15px;
    input{
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    width: 60%;
    margin: auto 20%;
    border: none;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px;
    }
    
        .carticon {
            text-align: right;
        position: relative;
        a{
            i{
                font-size: 20px;
                color: #fff;
            }
        } 
        }
   
    .carticon span{
        background: red;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 100%;
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
    display: block;
    font-size: 14px;
    }
}
.logo{
    height: 43px;
    position: relative;
    img{
        max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin: auto;
    }
}
.footer{
    background: #172337;
    color: #fff;
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    height: 40px;
}
.content{
    min-height: calc(100vh - 40px);
}
.card{
    padding: 0px !important;
    margin: 20px 0px !important;
    h1{
        background: #ffe500;
    padding: 10px 10px;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
    }
    .image{
        width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
        img{
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 3px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    p{
        display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }
    .link{
        text-align: center;
        a{
            background: #0d6efd;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0px 12px 24px #b1b1b1;
        }
    }
}

.noitem{
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
    padding: 2rem;
    img{
        width: 300px;
    }
    h3{
        text-align: left;
    }
}
.cimage{
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
        img{
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 3px;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0px;
        }
}